.album-carousel {
  width: 100%;
  height: 375px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
  }
}

.album-card {
  max-width: 120px;
  height: 275px;
  font-size: 14px;
  .album-title,
  .band-name {
    padding-top: 10px;
    min-height: 20px;
  }

  .album-title {
    font-weight: bold;
  }
  span {
    padding-top: 20px;
  }
  img {
    max-width: 100%;
    height: 85px;
    object-fit: cover;
  }
  title {
    font-weight: bold;
    color: black;
  }
  artist {
    color: gray;
  }
}
