#discover-outer {
  width: 100%;
  height: auto;
  background-color: #eef2f3;

  .discover-header {
    margin: auto;
    width: 1100px;
    height: 46px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .tags-outer {
    width: 100%;
    height: 40px;
  }

  .top {
    background-color: hsla(194, 48%, 50%, 1);
  }

  .middle {
    background-color: hsla(194, 43%, 46%, 1);
  }
  .bottom {
    background-color: hsla(194, 38%, 42%, 1);
  }

  .tags-inner {
    width: 1100px;
    margin: auto;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;

    div {
      color: white;
    }
  }

  .showcase {
    width: 1100px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: auto;
    // height: 510px;
  }

  .col-left {
    grid-column-start: 1;
    // background-color: blue;
    display: flex;
    justify-content: space-around;
    // align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 25px;
  }
  .col-right {
    grid-column-start: 2;
    background-color: white;
  }

  .col-right-outer {
    padding: 25px 10px;
  }
}

.tag-pill:hover {
  border-radius: 50%;
  color: rgb(37, 37, 37);
}

// discover player styles

.showcase {
  background-color: #eef2f3;
}

.discover-track-card {
  width: 172px;
  margin-bottom: 18px;
  min-height: 236px;

  .track-info div {
    padding-bottom: 5px;
  }

  .cover-art-container {
    padding-bottom: 15px;
    position: relative;
  }

  .play-button {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 25%;
    height: 22%;
    top: 25%;
    left: 25%;
    transition: 0.2s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 3px;
  }

  .playing {
    opacity: 1;
  }

  .cover-art-container:hover .play-button {
    opacity: 1;
    cursor: pointer;
  }

  .cover-art {
    width: 172px;
    height: 172px;
    object-fit: cover;
    outline: 1px solid rgba(52, 54, 58, 0.253);
    outline-offset: -1px;
  }

  .play-button-symbol {
    color: white;
  }
  .title {
    font-size: 12px;
    font-weight: 700;
  }

  .artist {
    font-size: 12px;
  }
  .card-link {
  }

  .card-tag {
    font-size: 12px;
    color: #999;
  }

  .now-playing-image {
    // width: 100%;
    // img {
    //   width: 335px;
    //   height: 335px;
    //   object-fit: cover;
    //   outline: 1px solid rgba(52, 54, 58, 0.253);
    // }
  }
}

#np-cover-art {
  object-fit: cover;
  height: 310px;
  width: 100%;
  // width: px;
  margin: 0px;
  margin: auto;
  outline: 1px solid rgba(52, 54, 58, 0.253);
  outline-offset: -1px;
}

.np-info-setion {
}
.xtra-info {
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 10px;
  a:hover {
    text-decoration: underline;
  }
}
