.footer {
  width: 100%;
  height: 350px;
  background-color: #477987;
  color: white;
  font-size: 13px;
  font-weight: 100;
  .outer-link-container {
    width: 1100px;
    margin: auto;
  }

  a {
    color: white;
  }
  .inner-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    // ul {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
    // }
    li {
      padding-top: 25px;
    }
  }

  .link-column1 {
  }
  .link-column2 {
  }
  .link-column3 {
  }
  .link-column4 {
    width: 20%;
  }
}
