.login-nav {
  background-color: #dddddd;
  width: 100%;
  height: 105px;
  display: flex;
  //   background-color: powderblue;
  a {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
  }
}

.form-outer {
  background-color: #f3f3f3;
  height: 70vh;
  min-height: 570px;
  display: block;
  padding-top: 25px;
}

.form-inner-container {
  width: 650px;
  height: auto;
  margin: auto;

  .redirect-links {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 60px;
    font-size: 12px;
    span {
      color: #818285;
      margin: auto;
    }
    a {
      color: #00a1c6;
    }
    button {
      color: #00a1c6;
      border-style: none;
    }
  }
}
.login-form {
  // width: 650px;
  // height: auto;
  // margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3333;

  h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 100;
    color: rgb(51, 51, 51);
  }
  .form-type {
    width: 60%;
    height: 105px;
    font-size: 20px;
    // background-color: blue;
    border-bottom: dotted;
    border-color: #dddddd;

    // display: flex;
    // align-items: center;
  }

  .form-inputs {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .item {
    display: block;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    label {
      display: inline-block;
      width: 155px;
      text-align: right;
      margin-top: 8px;
      vertical-align: top;
      font-size: 16px;
      margin-right: 16px;
      color: rgb(51, 51, 51);
    }
    div {
      width: 300px;
      display: inline-block;
      margin-right: 175px;
      vertical-align: top;
    }
    input {
      height: 30px;
      background: #fff;
      color: #333;
      outline: none;
      width: 100%;
      border: 1px solid #ccc;

      padding-left: 10px;
      margin: 0;
      font-size: 16px;
    }
    .error-box {
      border: 1px solid red;
    }
  }
  .submit-button {
    padding-top: 20px;
    height: 35px;
    width: 306px;
    display: flex;
    input {
      font-size: 18;
      font-weight: 900;
      color: white;
      background-color: #00a1c6;
      border-style: none;
      flex-grow: 1;
    }
  }
}

.errors {
  color: red;
  margin-top: 10px;
}
.error {
  color: red;
}

.error-box {
  border: 1px solid red;
}

// #fffcc8 yellow

// #00a1c6 bluelight
// #477987 blue dark
