.album-show-main-outer {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  min-height: 560px;
}

.media-player-outer {
  grid-column-start: 1;
  margin-inline: auto;
}

.media-player-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  font-size: 12px;
}

.ba-title {
  width: 100%;
  height: 47px;
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 25px;
  div {
    font-size: 14px;
    padding-top: 10px;
    font-weight: 100;
    a {
      color: rgb(0, 161, 198);
    }
  }
}
.now-playing-container {
  width: 100%;
  height: 60px;
  font-size: 20px;
  padding-top: 30px;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      padding-right: 18px;
    }
  }
}

.blurb {
  height: auto;
  padding-bottom: 40px;
}

.ba-description {
  height: 60px;
  width: 100%;
}
.tracks-list {
  height: auto;
  width: 100%;
  padding-bottom: 40px;
}

// big album component styles
.big-album-outer {
  grid-column-start: 2;
  margin-inline: auto;
}
.big-album-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-right: 25px;
  width: 350px;
}

.ba-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.tracks-list {
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      margin-right: 10px;
    }
    //was button
    .play-button-container {
      height: 25px;
      width: 25px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 1px solid #e5e5e5;
      input {
        height: 14px;
      }
      input:focus {
        border-style: none;
        outline: none;
      }
    }
  }
}

audio {
  height: 100px;
}

.single-track {
  padding-bottom: 5px;
}

.needs-music {
  height: auto;
  font-size: 18px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.download-link {
  font-size: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 2px;
}
.download-link:hover {
  background-color: #e5e5e5;
}
