.album-show-main-outer {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  min-height: 560px;
}

.media-player-outer {
  grid-column-start: 1;
  margin-inline: auto;
}

.media-player-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  font-size: 12px;
}

.ba-title {
  width: 100%;
  height: 47px;
  font-size: 28px;
  font-weight: 900;
}
.now-playing-container {
  width: 100%;
  height: 60px;
  font-size: 20px;
  padding-top: 30px;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      padding-right: 18px;
    }
  }
}

.blurb {
  height: 60px;
}

.ba-description {
  height: 60px;
  width: 100%;
}
.tracks-list {
  height: auto;
  width: 100%;
}

// big album component styles
.big-album-outer {
  grid-column-start: 2;
  margin-inline: auto;
}
.big-album-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 350px;
}

.ba-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.tracks-list {
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      padding-right: 18px;
    }
  }
}
