.nav {
  max-width: 1100px;
  margin: auto;
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //   background-color: rgb(128, 240, 175);
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  //   border: solid 2px black;
}

.logo {
  width: 140px;
  box-sizing: inherit;
  justify-content: center;
  //   border: solid 2px black;
}

.nav-left {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  //   border: solid 2px black;
  //   padding: 25px;
  div {
    padding: 10px;
  }
}

// RIGHT SIDE NAVIGATION
.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  align-items: flex-end;

  div {
    display: flex;
    flex-direction: row;
    position: relative;
    // flex-grow: 1;
  }

  .search-bar {
    display: flex;
    justify-content: flex-end;
    color: rgba(51, 51, 51, 70);

    .search-field {
      flex-grow: 1;
      border-style: none;
      background-color: #f3f3f3;

      padding-left: 10px;
    }

    .input:focus {
      border-style: none;
    }
  }
  .nav-links {
    // display: flex;
    // justify-content: space-between;
    display: flex;
    // justify-content: space;
    width: 100%;
    flex-grow: 1;
    top: 5px;

    ul {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // border: solid 2px black;

      li {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        // padding-left: 5px;
        height: 25px;
        //   border: solid 2px black;
        font-weight: bold;
        li > a,
        span {
          // flex-grow: 1;
          // float: right;
        }
      }
      li:hover {
        text-decoration: underline;
      }
    }
  }
}

.search-bar {
  color: rgba(51, 51, 51, 70);
  background-color: #f3f3f3;
  height: 32px;
  width: 282px;
  border: solid 1px #f3f3f3;
  border-radius: 5px;
  position: relative;
}

.search-bar:focus {
  outline: none;
}

.search-bar input {
  outline: none;
}

.search-icon {
  width: 22px;
  position: absolute;
  top: 8px;
  float: right;
  padding-right: 8px;
  padding-top: -2px;
  // transform: rotate(-18deg);
  top: 5px;
}
.search-icon:hover {
  cursor: pointer;
  // border: 2px solid rgb(238, 255, 0);
  // border-radius: 50%;
}

.grad-text {
  font-weight: bold;
  background-color: lightgoldenrodyellow;
  background-image: linear-gradient(45deg, #e046ff, #168edf, #16c3ee);
  background-size: 100%;

  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
}

#search-dropdown {
  background-color: #168edf;
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 1;
  padding-top: 0px;
  top: 30px;

  li {
    display: flex;
    line-height: 50px;
  }

  span {
    color: white;
  }

  // a {
  //   flex-grow: 1;
  //   color: white;
  //   position: relative;
  //   font-size: 14px;
  //   font-weight: 500;
  //   padding-right: 20px;
  //   padding-left: 20px;
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   transition: opacity 0.2s;
  // }

  ul div {
    flex-grow: 1;
    color: white;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  li:hover {
    opacity: 0.5;
    transition: 0.2s;
    transition-timing-function: ease-in;
  }

  .orange {
    background-color: hsl(27, 90%, 68%);
  }
  .sherbert {
    background-color: hsl(11, 89%, 65%);
  }
  .red {
    background-color: hsl(355, 74%, 51%);
  }
  .fusia {
    background-color: hsl(339, 65%, 52%);
  }
  .lavender {
    background-color: hsl(314, 51%, 50%);
  }
  .violet {
    background-color: hsl(277, 43%, 57%);
  }
  .purple {
    background-color: hsl(255, 29%, 57%);
  }
  .blue {
    background-color: hsl(231, 40%, 66%);
  }
  .grey {
    background-color: #87a8c5;
  }
  .brown {
    background-color: #333;
  }
}
