.splash {
  width: 100%;
  // background-color: #222;
  margin: auto;
  strong {
    font-weight: bold;
  }
}

.feature-bg {
  width: 100%;
  background-color: #222;
  height: 525px;
}
.featured {
  width: 90%;
  min-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: whitesmoke;

  img {
    opacity: 1;
    transition: 0.1s;
    position: relative;
    outline: 1px solid white;
  }
  img:hover {
    opacity: 0.7;
  }

  h3 {
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    color: #f3eaff;
    left: 40%;
    top: 28%;
    -webkit-text-stroke: 1px black;
  }
}

.top-story {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  grid-column: 1;
  position: relative;

  // background-image: image-url("concert2.jpg");
  // background-repeat: no-repeat;
  // background-size: 100%;
  // background-position: center;

  img {
    width: 100%;
    height: 525px;
    object-fit: cover;
  }

  // a div {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: flex-end;
  // }
}

.trio-box {
  grid-column: 2;
  img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }
}

.sales-outer {
  width: 100%;
  height: 90px;
}

.dot-sales {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  padding-top: 25px;
  padding-bottom: 25x;
  align-items: center;
}

.dot-left {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  background-image: linear-gradient(90deg, #e046ff, #168edf, #16c3ee);
  margin-left: 10px;
}
.dot-right {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  background-image: linear-gradient(90deg, #16c3ee, #168edf, #e046ff);
  margin-right: 10px;
}

.sales {
  font-size: 18px;
  strong {
    font-weight: 900;
  }
}
