.tags-outer {
  width: 100%;
  min-width: 1100px;
  height: auto;
}

.tag-header-outer {
  height: 383px;
  width: 100%;
  min-width: 1100px;
  img {
    object-fit: cover;
    height: 383px;
    width: 100%;
    position: relative;
    opacity: 0.85;
    outline: 1px solid rgba(52, 54, 58, 0.253);
    outline-offset: -1px;
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    color: #f3eaff;
    left: 40%;
    top: 20%;
    -webkit-text-stroke: 1px black;
    background-image: linear-gradient(45deg, #e046ff, #168edf, #16c3ee);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

.albums-carousel-outer {
  width: 100%;
  min-width: 1100px;
  height: auto;
  //   padding-top: 50px;
  // background-color: chartreuse;
}

.albums-carousel-inner {
  width: 1200px;
  height: auto;
  margin: auto;
  padding-top: 50px;

  .carousel {
    display: flex;
  }
}
.tag-title {
  padding-left: 56px;
  h3 {
    font-weight: 100;
  }
  span {
    text-decoration: underline;
  }
}

.arrow {
  object-fit: contain;
  height: 50px;
  width: 50px;
  align-self: center;
}

.album-tag-card {
  display: flex;
  flex-direction: column;
  width: 206px;

  img {
    object-fit: cover;
    width: 100%;
    height: 206px;
    outline: 1px solid rgba(52, 54, 58, 0.253);
    outline-offset: -1px;
  }
  .info-section {
    height: 150px;
    div {
      padding-top: 15px;
    }
  }
}

.artists-carousel-outer {
  width: 100%;
  min-width: 1100px;
  height: auto;
  //   padding-top: 50px;
  background-color: hsl(192, 32%, 83%);
}

.artists-carousel-inner {
  width: 1200px;
  height: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 25px;

  .carousel {
    display: flex;
    // justify-content: space-between;
  }
}

.artist-carousel ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  width: 1100px;
  height: auto;
}

.arrow {
  object-fit: contain;
  height: 50px;
  width: 50px;
  align-self: center;
}

.artist-tag-card {
  display: flex;
  flex-direction: column;
  width: 350px;

  img {
    object-fit: cover;
    width: 350px;
    height: 350px;
    outline: 1px solid rgba(52, 54, 58, 0.253);
    outline-offset: -1px;
  }
  .info-section {
    height: auto;
    div {
      padding-top: 15px;
    }
  }
}

.carousel-animation {
  animation-name: slide;
}
