#user-background {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
}

#color-bar {
  width: 100%;
  height: 42px;
  background-image: linear-gradient(
    90deg,
    rgb(130, 111, 237) 30%,
    rgb(44, 213, 188) 70%
  );
}
#user-outer {
  height: auto;
  margin: auto;
  padding: 35px 30px 0px, 30px;
  //   background-color: brown;
  max-width: 1000px;
}

#user-inner {
  width: 975px;
}

.header-container {
  //   background-color: burlywood;
  width: 915px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #dbdbdb;
  h1 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  a {
    color: #0687f5;
    font-size: 13px;
  }
}

.user-grid-box {
  width: 915px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  //   height: 400px;
  // background-color: cornsilk;

  .left-side {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    a {
      border: none;
      height: 150px;
      // background-color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    a:hover {
      background-color: white;
      border-bottom: 1px solid #dbdbdb;
      border-top: 1px solid #dbdbdb;
      transition: background-color 0.2s;
    }
  }

  .right-side {
    grid-column-start: 2;
    // background-color: rgb(44, 213, 188);
    background-color: white;
    border-left: 1px solid #dbdbdb;
    padding-bottom: 45px;
  }

  .right-contents {
    .artist-info-form {
      width: 100%;
      height: auto;
    }

    // .artist-image-form {
    //   width: 100%;
    //   height: 200px;
    // }
    // .banner-image-form {
    //   width: 100%;
    //   height: 200px;
    // }
    // .bio-form {
    //   width: 100%;
    //   height: 200px;
    // }
    // .location-form {
    //   width: 100%;
    //   height: 200px;
    // }
  }
}

#info-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-end;

  label {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    padding-top: 25px;
  }

  label > {
    padding-bottom: 10px;
  }

  .artist-image-preview {
    height: 125px;
    width: 125px;
    object-fit: cover;
  }
  .banner-image-preview {
    height: 75px;
    width: 100%;
    object-fit: cover;
  }

  .form-text-area {
    width: 98%;
    min-height: 48px;
    border: 1px solid #dbdbdb;
  }

  button {
    border: none;
    background-color: white;
    font-size: 20px;
    color: #0687f5;
    border: 1px solid grey;
    padding: 3px;
    width: 75%;
    margin: auto;
  }
  .input-button {
    border: none;
    background-color: white;
    font-size: 20px;
    color: #0687f5;

    #file-upload-button {
      background-color: white;
    }
  }
}
