.modal-container {
  display: block;
  // height: 600px;
  width: 500px;
  // border-radius: 5px;
  // border-style: solid;
  // display: block;
  padding-bottom: 50px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 0px;
    height: 40px;
    font-size: 20px;
    background-color: #d6d6d6;
    border-radius: 10px 10px 0px 0px;
    .message {
      width: 100%;
      text-align: center;
      h2 {
        display: block;
        padding-left: 100px;
        font-weight: 100;
        font-size: 18px;
      }
    }
    .switch {
      img {
        display: inline-block;
        width: 40px;
        height: 40px;
        float: right;
        // padding-right: 10px;
        transform: rotate(180deg);
        border-top-right-radius: 10px;
      }
    }
    .switch:hover {
      cursor: pointer;
      background-color: rgba(161, 161, 75, 0.692);
      // border-top-right-radius: 10px;
      border-radius: 50%;
    }
  }

  .accounts {
    width: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    li {
      display: flex;
      flex-direction: row;
      height: 125px;
      width: 100%;
      padding-top: 38px;
      padding-bottom: 38px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .icon > img {
      //   object-fit: contain;
      width: 125px;
      //   height: 125px;
    }
    .artist a {
      color: rgb(0, 161, 198);
      border: 1px solid rgb(0, 161, 198);
    }
    .demo-user a {
      color: #6e943b;
      border: 1px solid #6e943b;
    }
  }
  .infolink {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 12px;
    color: grey;

    a {
      font-size: 18px;
      padding-top: 8px;
      //   color: rgb(0, 161, 198);
      width: 100%;
      height: 30px;
      text-align: center;
      //   border: 1px solid rgb(0, 161, 198);
      border-radius: 3px;
    }
  }
}
